#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.divMonths {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  /* margin-top: 2rem; */
  /* background-color: red; */
  padding: 50px;
}

.cardMonth {
  width: 250px;
  background-color: #4b4b4b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  cursor: pointer;
}

.cardMonth:hover {
  background-color: #3b3b3b;
}

.cardMonth p {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.read-the-docs {
  color: #888;
}
